* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #191b1d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

header {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #bc1e4a;
  color: white;
  width: 418px;
  height: 108px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 40px;
}

.header-1 {
  font-size: 16px;
  margin-bottom: 10px;
}

.header-2 {
  font-size: 20;
  font-weight: bold;
}

.h1-plan {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.container-plan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.change-plan {
  background-color: #bc1e4a;
  height: 32px;
  width: 60px;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ball {
  position: absolute;
  height: 23px;
  width: 23px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: white;
}

/* .ball:active {
    animation-fill-mode: forwards;
    animation-name: button-slider-right;
    animation-duration: 0.5s;
  } */

.cards-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cards {
  height: 608px;
  width: 375px;
  background-color: #22262c;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 37px;
  margin-bottom: 18px;
}

.price {
  font-size: 56px;
  font-weight: bold;
}

.price-corners {
  margin-bottom: 66px;
}

.price-middle {
  margin-bottom: 20px;
}

.plan-type {
  font-size: 22px;
}

ul {
  font-size: 16px;
  line-height: 40px;
}

select {
  background-color: #22262c;
  font-size: 20px;
  color: white;
  text-align: center;
  height: 68px;
  width: 297px;
  border-color: #5c6268;
  border-radius: 5px;
}

sub {
  font-size: 14px;
  color: #bc1e4a;
  margin-bottom: 31px;
}

button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 18;
  font-weight: 600;
  width: 243px;
  height: 54px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #bc1e4a;
  margin-top: auto;
  margin-bottom: 35px;
}

.button-global {
  background-color: #22262c;
}

.button-highlight {
  background-color: #bc1e4a;
}

.button-global:hover {
  background-color: #2c3138;
}

.button-global:hover {
  background-color: AF1641;
}

.button-global:active {
  background-color: #191b1d;
}

.button-highlight:hover {
  background-color: #ca1f50;
}
.button-highlight:active {
  background-color: #a8153f;
}

li::marker {
  color: #bc1e4a;
}

@keyframes button-slider-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(125%);
  }
}

@keyframes button-slider-left {
  from {
    transform: translateX(125%);
  }
  to {
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 1250px) {
  .cards-box {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
